@font-face{
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 200 900;
  src: url("./fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 1000;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 200 900;
  src: url("./fonts/SourceSerif4-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif 4";
  font-style: italic;
  font-weight: 200 900;
  src: url("./fonts/SourceSerif4-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}

:root {
  --color-primary-bg: #fcfcfc;
  --color-primary-fg: #1f1f1f;
  --color-secondary-fg: #505050;

  --color-accent-pink: #ff285a;
  --color-accent-blue: #1e87ff;
  --color-accent-green: #30fa41;
  --color-accent-red: #e90b3b;
  --color-accent-purple: #7c35ff;
}